<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/houtai.css" rel="stylesheet" type="text/css" />
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script type="application/javascript" src="http://libs.baidu.com/jquery/2.0.0/jquery.js"></script>
<script type="application/javascript" src="/static/js/fenye.js"></script>
<link href="/static/css/table.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="navbar navbar-duomi navbar-static-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header"> <a id = "omsding" class="navbar-brand" href="http://127.0.0.1:8000/hindex/" id="logo">OMS后台管理界面: </a> </div>
  </div>
</div>
<div  class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <script src="/static/js/menu.js"></script>
      <link href="/static/css/bk.css" rel="stylesheet" type="text/css" />
    </div>
    <div class="col-md-10">
      <div  id="biankuang">

<h1>以下是数据中心资产:</h1>
<link href="/static/css/table.css" rel="stylesheet" type="text/css" />

<body>
<table width="1000" height="50" border="1">
  <thead>
    <tr>
      <th width="100">机房ID</th>
      <th width="100">机房名称</th>
      <th width="100">机房类型</th>
      <th width="100">机房地址</th>
      <th width="100">到期时间</th>
      <th width="100">机房联系电话</th>
      <th width="100">备注</th>
    </tr>
  </thead>
  {% for list1 in list %}
  <tr>
    <td width="100">{{ list1.id }}</td>
    <td width="100">{{ list1.idc_name }}</td>
    <td width="100">{{ list1.idc_type }}</td>
    <td width="100">{{ list1.idc_location }}</td>
    <td width="100">{{ list1.contract_date }}</td>
    <td width="100">{{ list1.idc_contacts }}</td>
    <td width="100">{{ list1.remark }}</td>
    {% endfor%}
</table>
<br>
<br>
<p class="aa"><a  href="/creat_data_center/" > 添加</a>
<p>
</body>




         </div>
    </div>
  </div>
</div>
</body>
