<html>
<head>
<title>OMS 后台管理界面</title>
<link href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/css/houtai.css" rel="stylesheet" type="text/css" />
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
</head>

<body>
<div class="navbar navbar-duomi navbar-static-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header"> <a id = "omsding" class="navbar-brand" href="http://127.0.0.1:8000/hindex/" id="logo">OMS后台管理界面: </a> </div>
  </div>
</div>
<div  class="container-fluid"> </div>
<div class="row"></div>
<div class="col-md-2">
  <script src="/static/js/menu.js"></script>
  <script src="/static/css/bk.css"></script>
</div>
<div class="col-md-10">
  <div  id="biankuang"> </div>

</div>
<h1>这是后台首页.............</h1>
</body>
</html>