{#<h1>{{ h_ids.id }}</h1>#}
{#<h2>{{ h_ids.ip }}</h2>#}



<h2>这是编辑点开的详情页面,表单页面显示数据库的数据:</h2>


{#<form name="login" action="/update_list/" method="POST">#}
{#还是请求当前的url#}
    <form name="login" action="./" method="POST">


<p>IP地址：<input type="ip" name="ip" value="{{ h_ids.ip }}"/></p>
<p>主机名: <input type="hostname" name="hostname" value="{{ h_ids.hostname }}"/> </p>
<p>产品: {{ h_ids.product }} </p>
<p>应用: <input type="application" name="application" value="{{ h_ids.application }}"/> </p>
<p>机柜编号: {{ h_ids.idc_jg }} </p>
<p>运行状态: {{ h_ids.status }} </p>
<p>备注: <input type="remark" name="remark" value="{{ h_ids.remark }}"/> </p>



<input name="update" type="submit" value="更新列表" >
</form>


